@import"reset.css";
.container {
    width: 1280px;
    margin: 0 auto;
}

.top-logo-text {
    color: #000000;
    font-size: 80px;
}

.top-logo-text-color {
    color: #4bcaff;
}

.top-logo {
    text-decoration: none;
}

.con-logo {
    padding-top: 61px;
    padding-bottom: 45px;
}

.header {
    background-color: #35444f;
}

.header-menu-link {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.header-menu {
    text-align: center;
}

.header-menu-item {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 21px;
    padding-right: 35px;
    padding-left: 35px;
    transition: 0.5s;
}

.header-menu-item:hover {
    background-color: #222f3a;
}

.sidebar {
    height: 399px;
    width: 344px;
    border: solid 1px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: 51px;
}

.main-img {
    width: 885px;
    height: 529px;
    border: solid 1px;
    box-sizing: border-box;
    margin-left: 47px;
    display: inline-block;
    margin-top: 51px;
}

.main-img-1 {
    padding: 75px 297px;
    transition: 1s;
}

.main-img-1:hover {
    transform: scale(1.1);
}

.sidebar-menu-link {
    color: #485863;
    font-size: 29.9px;
    text-decoration: none;
}

.sidebar-menu-item {
    padding: 25px;
}

.sidebar-menu-item:hover {
    background-color: #dbdbdb;
    text-align: center;
}

.main-text {
    width: 820px;
    float: right;
    margin-top: 51px;
    display: inline-block;
}

.main-textp {
    font-size: 18px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.footer-nav {
    background-color: #b4b7ba;
    text-align: center;
    display: inline-block;
    width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 51px;
}

.footer-nav-text {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

.footer-nav-link {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 25px;
    transition: 0.2s;
}

.footer-nav-text:hover {
    color: #3181a6;
    border-bottom: solid 1px;
}

.footer-nav-text-right:hover {
    color: #3181a6;
}

.footer-nav-text-right {
    text-decoration: none;
    color: black;
    font-size: 28px;
    padding-left: 130px;
    transition: 0.2s;
}